[Desktop Entry]
Type=Application
Name=Sqreenshot
Comment=Simple screenshot tool
Comment[it]=Cattura schermata
Exec=sqreenshot
Icon=sqreenshot
Categories=Qt;Utility;
